###### Requirements without Version Specifiers ######`
python-dateutil

###### Requirements with Version Specifiers ######`
matplotlib>=3.3.0
numpy>=1.19.1
pandas>=1.1.0
h5py>=2.10.0
PyQt5>=5.15.0
PyQt5-sip>=12.8.0
